$font:Arial,Helvetica,Georgia;

$chef-cuisinier-bg:rgb(138, 157, 55);

$main-color:white;

$espace-item-menu:30px;

$espace-items-grid: 10px; 


$width-main-image: 80%;

$height-main-image: auto;


$height-cards-image: auto;

$width-cards: 30%;

$height-all-image: auto;

$menu-magin-bottom : 1%;


